[submodule "lib/urweb-monad-pack"]
	path = lib/urweb-monad-pack
	url = https://github.com/grwlf/urweb-monad-pack
[submodule "lib/uru3"]
	path = lib/uru3
	url = https://github.com/grwlf/uru3
[submodule "lib/urweb-compet"]
	path = lib/urweb-compet
	url = https://github.com/grwlf/urweb-compet
[submodule "lib/urweb-callback"]
	path = lib/urweb-callback
	url = https://github.com/grwlf/urweb-callback
[submodule "lib/urweb-prelude"]
	path = lib/urweb-prelude
	url = https://github.com/grwlf/urweb-prelude
[submodule "lib/urweb-xmlw"]
	path = lib/urweb-xmlw
	url = https://github.com/grwlf/urweb-xmlw
